<div class="about">
	<h1>About me</h1>
	<p>My name is Steven. I'm a student at the University of Toronto. I'm interested in finance, marketing, web development, and fitness.</p>
	<p>I've always appreciated computer science, but never started studying it until college. I believe I have an entrepreneurial spirit, which is why I took the business major. I can't see myself as another suit and tie in a corporate office (unless it were <strong>my</strong> corporate office). Rather, I see myself in a small, tight-knit company, all striving for growth in a product we believe in.</p>
	<p>I have lived in many international cities - Hong Kong, Sinagpore, Shanghai, Toronto. While all this travel might seem weary, I still love exploring new places.</p>
	<p>Fitness-wise, I love doing a lot of sports, mostly contact sports. I hit the gym every other day, following a lifting program called "GreySkill Lifting Program". Other my rest days, I occasionally do Muay Thai boxing, basketball, or skip rope.</p>

</div>