<% @posts_by_month.each do |monthname, posts| %>
<%= monthname %>
<ul class="archive-month">
	<% posts = posts.sort_by { |k| k['created_at'] }.reverse %>
   <% posts.each do |post| %>
     <li><%= link_to post.title, post_path(post) %> <small><%= post.created_at.strftime("%b %d") %></small></li>
   <% end %>
</ul>
<% end %>