<% for post in @posts %>
<div class="post">
	<h2><%= link_to post.title, post_path(post) %></h2>
	<small><%= post.created_at.strftime("%d %b. %Y") %> in <%= link_to post.category.name, category_path(post.category) %></small>
</div>
<% end  %>

<%= will_paginate @posts %>