ul {
	list-style-type: none;
}

#disqus_thread {
	width: 70%;
}

.profile {
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	position: relative;
	left: 5%;
}

@media only screen and (max-width: 860px) {
    .profile {
        display: none;
    }

    .wrap > ul {
    	display: none;
    }

    .head {
    	width: 100% !important;
    	height: 10% !important;
    }

    .nav > ul > li {
    	display: inline;
    }

    .nav {
    	padding-top: 0px !important;
    	margin-top: -20px !important;
    }

    .main {
    	padding-top: 15% !important;
    }
}

.head {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 15%;
	color: black;
	height: 100%;
	background: #2980b9;
	color: white;
}

.wrap {
	position: relative;
	top: 35%;
	right: 10%;
	text-align: center;
}

.main {
	padding-left: 20%;
	padding-top: 5%;
	color: #34495e;
}

.nav {
	padding-top: 50px;
	text-align: center;
	font-size: 0.8em;
}

.nav li {
	padding: 10px;
}

h3 {
	margin-bottom: 0px;
	font-weight: 500;
}

small {
	font-size: 0.7em;
	line-height: 1;
	letter-spacing: 0.3px;
}

.post {
	font-size: 20px;
	padding-bottom: 30px;
}

h2 {
	font-size: 30px;
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
	&:hover {
		color: #2980b9;
	}
}

.logo:hover {
	color: white;
}

.nav a:hover {
	color: white;
}

.entry p {
	text-align: justify;
	width: 70%;
	line-height: 1.5;
	padding-bottom: 30px;
	a {
		color: #2ecc71;
	}
}

.entry br {
	line-height: 300%;
}

.tagline {
	font-size: 0.5em;
	letter-spacing: 1.1px;
}

.pagination {
  text-align: left;
  padding: 0.3em;
  cursor: default; }
  .pagination a, .pagination span, .pagination em {
    padding: 0.2em 0.5em; }
  .pagination .disabled {
    display: none; }
  .pagination .current {
    font-style: normal;
    font-weight: bold;
    color: #ff0084; }
  .pagination a {
    border: 1px solid #dddddd;
    color: #0063dc;
    text-decoration: none; }
    .pagination a:hover, .pagination a:focus {
      border-color: #003366;
      background: #0063dc;
      color: white; }
  .pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em; }
  .pagination .previous_page, .pagination .next_page {
    border-width: 2px; }
  .pagination .previous_page {
    margin-right: 1em; }
  .pagination .next_page {
    margin-left: 1em; }