<div class="profile">
	<%= image_tag 'profile.png', alt: "profile picture", width: 80, class: "profile" %>
</div>
<ul>
	<li><h3><%= link_to "Steven Shi", root_path, class: 'logo' %></h3></li>
	<li><small>Commerce student @ University of Toronto</small></li>
</ul>