<div class="profile">
	<%= link_to root_path do %>
		<%= image_tag 'profile.png', alt: "profile picture", width: 80, class: "profile" %>
	<% end %>
</div>
<ul>
	<li><h3><%= link_to "Steven Shi", root_path, class: 'logo' %></h3></li>
	<li><small>Business student @<br> University of Toronto</small></li>
</ul>